body {
  background: #daeaf6; 
background: -webkit-linear-gradient(to right, #fcele4, #Efcf4dd, #ddedea, #daeaf6); 
background: linear-gradient(to right, #fce1e4, #fcf4dd, #ddedea, #daeaf6); 
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Courier', monospace;
}

.card {
  background: #e8dff5;
  border-radius: 30px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
  color:#C19A6B;
  color:#C19A6B;
  position: absolute
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 60%;
    max-width: 50vw;
    max-height: unset;
    border-radius: 30px;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 40vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.text {
  padding: 3 em;
}
.text h1{
  font-family: serif;
  font-size: 40px;
}
.text p{
  font-family: monospace;
  font-size: 20px;
}
.space {
  height: 100px;
}


